<!DOCTYPE html>
<!--
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Recommendations</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/skel-layers.min.js"></script>
		<script src="../static/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="../static/css/skel.css" />
			<link rel="stylesheet" href="../static/css/style.css" />
			<link rel="stylesheet" href="../static/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Kipfian</a></h1>
			</header>

		<!-- Main -->
			<section id="one" class="wrapper align-center">
				<div class="container">

					<header class="major">
						<h2>Recommendations</h2>
					</header>

					<div class="row">
						{% for r in recommendation %}
							<section class="4u 12u$(small)">
								<div class="image"><img src={{r[1]}} alt={{r[1]}} /></div>
								<p>{{r[0].decode('utf-8')}}</p>
								<div><a href={{r[2]}} class="button fit" target="_blank">Let me help</a></div>
							</section>
						{% endfor %}
					</div>

				</div>
			</section>

		<!-- Footer -->
		<!-- 	<footer id="footer">
				<div class="container">
				</div>
			</footer> -->

	</body>
</html>